body{
	background-image: url('https://metrouk2.files.wordpress.com/2014/06/biddy6.jpg');
}
h1{
	text-align: center;
	color: white;
}

.img-container {
  width: 100%;
  height: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.img {
	position: relative;
 	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	
  	@include translateX(-50%);
  	max-height: 100%;

   @media (min-width: 800px) {
    left: 0; // set the left back to 0
    max-height: none; // remove the max-height
    max-width: 100%;
    
    @include translateY(-50%);
}
