@font-face {
  font-family: "Font-Regular";
  src: url("../fonts/Raleway/Raleway-Regular.ttf"); }
@font-face {
  font-family: "Font-Thin";
  src: url("../fonts/Raleway/Raleway-Thin.ttf"); }
@font-face {
  font-family: "Font-Bold";
  src: url("../fonts/Raleway/Raleway-Bold.ttf"); }
body {
  margin: 0; }

.site-wrapper {
  width: 100%;
  height: 100%;
  z-index: -10000; }

.fixed {
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden; }

.intro-background {
  width: 100%;
  background-color: black;
  -webkit-filter: grayscale(100%) brightness(50%);
  position: relative;
  overflow: hidden; }
  .intro-background .background-video {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    min-width: 25%;
    min-height: 100%;
    width: auto; }

.intro-container {
  font-family: "Font-Thin";
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  width: 100%; }

.main-navigation-container {
  padding: 20px 20px;
  width: 100%; }
  .main-navigation-container .navigation {
    text-align: right;
    letter-spacing: 3px;
    padding: 0px 30px; }
    @media only screen and (max-width: 736px) and (min-width: 0px) {
      .main-navigation-container .navigation {
        padding: 0px 10px;
        height: 30px; } }
    .main-navigation-container .navigation .main-navigation {
      margin: 35px 0px; }
      @media only screen and (max-width: 736px) and (min-width: 0px) {
        .main-navigation-container .navigation .main-navigation {
          display: none; } }
      .main-navigation-container .navigation .main-navigation .navigation-option {
        font-size: 18px;
        padding: 0px 10px;
        display: inline; }
        .main-navigation-container .navigation .main-navigation .navigation-option a {
          text-decoration: none;
          color: rgba(255, 255, 255, 0.75); }
          .main-navigation-container .navigation .main-navigation .navigation-option a:hover {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.9); }
  .main-navigation-container .mobile-navigation {
    display: none;
    margin: 35px 0px; }
    @media only screen and (max-width: 736px) and (min-width: 0px) {
      .main-navigation-container .mobile-navigation {
        display: inline; }
        .main-navigation-container .mobile-navigation .mobile-navigation-btn-container {
          height: 30px;
          margin-right: 5px;
          margin-bottom: 60px; }
          .main-navigation-container .mobile-navigation .mobile-navigation-btn-container .mobile-navigation-btn {
            float: right; }
            .main-navigation-container .mobile-navigation .mobile-navigation-btn-container .mobile-navigation-btn .bar {
              width: 22px;
              height: 2px;
              background-color: #fff;
              margin: 6px 0px; } }

.mobile-navigation-container {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 10000; }
  @media only screen and (max-width: 736px) and (min-width: 0px) {
    .mobile-navigation-container {
      display: inline; } }
  .mobile-navigation-container .navigation {
    text-align: right;
    letter-spacing: 3px; }
    .mobile-navigation-container .navigation .mobile-navigation-menu .mobile-navigation-btn-container {
      height: 30px;
      margin-right: 35px;
      margin-top: 20px; }
      .mobile-navigation-container .navigation .mobile-navigation-menu .mobile-navigation-btn-container .mobile-navigation-btn {
        float: right; }
        .mobile-navigation-container .navigation .mobile-navigation-menu .mobile-navigation-btn-container .mobile-navigation-btn .bar {
          width: 22px;
          height: 2px;
          background-color: #fff;
          margin: 6px 0px; }
    .mobile-navigation-container .navigation .mobile-navigation-menu .navigation-menu-options {
      text-align: center;
      position: absolute;
      width: 100%;
      padding: 17% 0px;
      font-family: "Font-Regular";
      font-size: 40px; }
      @media only screen and (max-height: 450px) and (min-height: 0px) {
        .mobile-navigation-container .navigation .mobile-navigation-menu .navigation-menu-options {
          padding: 2% 0px;
          font-size: 20px; } }
      @media only screen and (max-height: 350px) and (min-height: 0px) {
        .mobile-navigation-container .navigation .mobile-navigation-menu .navigation-menu-options {
          padding: 0px 0px;
          font-size: 15px; } }
      .mobile-navigation-container .navigation .mobile-navigation-menu .navigation-menu-options .menu-option {
        margin: 45px 0px; }
        .mobile-navigation-container .navigation .mobile-navigation-menu .navigation-menu-options .menu-option a {
          text-decoration: none;
          color: rgba(255, 255, 255, 0.75); }
          .mobile-navigation-container .navigation .mobile-navigation-menu .navigation-menu-options .menu-option a:hover {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.9); }

.introduction-header-container {
  width: 100%;
  height: 100%;
  z-index: -10000; }
  .introduction-header-container .introduction-header {
    position: relative; }
    @media only screen and (max-width: 736px) and (min-width: 0) {
      .introduction-header-container .introduction-header {
        padding-left: 0px; } }
    .introduction-header-container .introduction-header .introduction-header-main {
      font-family: "Font-Regular";
      text-align: center;
      letter-spacing: 15px; }
    .introduction-header-container .introduction-header .introduction-header-sub {
      margin-bottom: 15px;
      text-align: center;
      font-size: 22.5px;
      letter-spacing: 4.5px; }

.buttons-container .button {
  width: 150px;
  color: white;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  background-color: none;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  margin: 10px 10px;
  padding: 5px 20px;
  font-size: 26px;
  line-height: 1.471;
  position: relative;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease; }
  @media only screen and (max-width: 740px) and (min-width: 0px) {
    .buttons-container .button {
      width: 100px;
      margin-top: 0; } }
  .buttons-container .button:active {
    background-color: white;
    color: black; }
  .buttons-container .button:hover {
    background-color: white;
    color: black; }

.body-container {
  margin: 0px 20px; }
  .body-container .section-container {
    text-align: center;
    color: #222222; }
    .body-container .section-container .section-title {
      font-family: "Font-Regular";
      font-size: 25px;
      letter-spacing: 1.25px;
      margin-top: 50px;
      margin-bottom: 20px; }
    .body-container .section-container .section-body {
      font-family: "Font-Regular";
      font-size: 15x;
      line-height: 150%;
      margin-bottom: 50px; }
    .body-container .section-container a {
      font-weight: bold;
      color: #222222; }

.section-break {
  border: none;
  height: 1px;
  background-color: rgba(34, 34, 34, 0.3);
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto; }

.placeholder-img {
  margin-top: 10px;
  width: 100%; }

.modal-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 10000; }
  .modal-container .modal {
    font-family: "Font-Regular";
    background-color: white;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22); }
    .modal-container .modal .modal-header {
      font-family: "Font-Thin";
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      border-radius: 3px 3px 1px 1px;
      background-color: #212121;
      width: 100%;
      height: 10%; }
      .modal-container .modal .modal-header .header {
        color: white;
        text-align: center;
        letter-spacing: 4px; }
    .modal-container .modal .modal-content {
      height: 87.5%; }
      .modal-container .modal .modal-content iframe {
        margin: 0;
        padding: 0;
        border: none;
        width: 100%;
        height: 100%;
        border-radius: 2px; }
    .modal-container .modal .modal-footer {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 0 0 2px 2px;
      background-color: #fafafa;
      width: 100%;
      height: 5%; }
      .modal-container .modal .modal-footer .modal-button {
        margin-right: 2%;
        float: right; }
        .modal-container .modal .modal-footer .modal-button a {
          text-decoration: none;
          color: #343434; }

.footer {
  font-family: "Font-Thin";
  text-align: center;
  color: #FFFFFF;
  background-color: black;
  padding: 10px 0px; }
  .footer .copyright {
    font-size: 15px;
    margin: 10px 0px; }
  .footer .social-media {
    position: relative;
    bottom: 3px; }
    .footer .social-media a {
      font-size: 30px;
      text-decoration: none;
      color: white; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xl-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xl-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xl-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xl-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xl-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xl-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xl-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xl-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xl-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xl-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xl-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-1 {
    width: 8.33333%; }

  .col-sm-2 {
    width: 16.66667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.33333%; }

  .col-sm-5 {
    width: 41.66667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.33333%; }

  .col-sm-8 {
    width: 66.66667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.33333%; }

  .col-sm-11 {
    width: 91.66667%; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-pull-1 {
    right: 8.33333%; }

  .col-sm-pull-2 {
    right: 16.66667%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-4 {
    right: 33.33333%; }

  .col-sm-pull-5 {
    right: 41.66667%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-7 {
    right: 58.33333%; }

  .col-sm-pull-8 {
    right: 66.66667%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-10 {
    right: 83.33333%; }

  .col-sm-pull-11 {
    right: 91.66667%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-push-1 {
    left: 8.33333%; }

  .col-sm-push-2 {
    left: 16.66667%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-4 {
    left: 33.33333%; }

  .col-sm-push-5 {
    left: 41.66667%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-7 {
    left: 58.33333%; }

  .col-sm-push-8 {
    left: 66.66667%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-10 {
    left: 83.33333%; }

  .col-sm-push-11 {
    left: 91.66667%; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-offset-0 {
    margin-left: 0%; }

  .col-sm-offset-1 {
    margin-left: 8.33333%; }

  .col-sm-offset-2 {
    margin-left: 16.66667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.33333%; }

  .col-sm-offset-5 {
    margin-left: 41.66667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.33333%; }

  .col-sm-offset-8 {
    margin-left: 66.66667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.33333%; }

  .col-sm-offset-11 {
    margin-left: 91.66667%; }

  .col-sm-offset-12 {
    margin-left: 100%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-1 {
    width: 8.33333%; }

  .col-md-2 {
    width: 16.66667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.33333%; }

  .col-md-5 {
    width: 41.66667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.33333%; }

  .col-md-8 {
    width: 66.66667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.33333%; }

  .col-md-11 {
    width: 91.66667%; }

  .col-md-12 {
    width: 100%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-pull-1 {
    right: 8.33333%; }

  .col-md-pull-2 {
    right: 16.66667%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-4 {
    right: 33.33333%; }

  .col-md-pull-5 {
    right: 41.66667%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-7 {
    right: 58.33333%; }

  .col-md-pull-8 {
    right: 66.66667%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-10 {
    right: 83.33333%; }

  .col-md-pull-11 {
    right: 91.66667%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-push-1 {
    left: 8.33333%; }

  .col-md-push-2 {
    left: 16.66667%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-4 {
    left: 33.33333%; }

  .col-md-push-5 {
    left: 41.66667%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-7 {
    left: 58.33333%; }

  .col-md-push-8 {
    left: 66.66667%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-10 {
    left: 83.33333%; }

  .col-md-push-11 {
    left: 91.66667%; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 8.33333%; }

  .col-md-offset-2 {
    margin-left: 16.66667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.33333%; }

  .col-md-offset-5 {
    margin-left: 41.66667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.33333%; }

  .col-md-offset-8 {
    margin-left: 66.66667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.33333%; }

  .col-md-offset-11 {
    margin-left: 91.66667%; }

  .col-md-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-1 {
    width: 8.33333%; }

  .col-lg-2 {
    width: 16.66667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.33333%; }

  .col-lg-5 {
    width: 41.66667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.33333%; }

  .col-lg-8 {
    width: 66.66667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.33333%; }

  .col-lg-11 {
    width: 91.66667%; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-pull-1 {
    right: 8.33333%; }

  .col-lg-pull-2 {
    right: 16.66667%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-4 {
    right: 33.33333%; }

  .col-lg-pull-5 {
    right: 41.66667%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-7 {
    right: 58.33333%; }

  .col-lg-pull-8 {
    right: 66.66667%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-10 {
    right: 83.33333%; }

  .col-lg-pull-11 {
    right: 91.66667%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-push-1 {
    left: 8.33333%; }

  .col-lg-push-2 {
    left: 16.66667%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-4 {
    left: 33.33333%; }

  .col-lg-push-5 {
    left: 41.66667%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-7 {
    left: 58.33333%; }

  .col-lg-push-8 {
    left: 66.66667%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-10 {
    left: 83.33333%; }

  .col-lg-push-11 {
    left: 91.66667%; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-offset-0 {
    margin-left: 0%; }

  .col-lg-offset-1 {
    margin-left: 8.33333%; }

  .col-lg-offset-2 {
    margin-left: 16.66667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.33333%; }

  .col-lg-offset-5 {
    margin-left: 41.66667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.33333%; }

  .col-lg-offset-8 {
    margin-left: 66.66667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.33333%; }

  .col-lg-offset-11 {
    margin-left: 91.66667%; }

  .col-lg-offset-12 {
    margin-left: 100%; } }

/*# sourceMappingURL=style.css.map */
