
@font-face{
	font-family: 'Karla';
	src: url('../fonts/Karla/Karla-Regular.ttf');
}

* {
    font-family: 'Karla', sans-serif;
}

.intro-container {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  background: url("../img/background.jpg");
}

@media screen and (min-width: 768px)
.intro-container {
  padding-top: 48px;
  padding-bottom: 48px;
}