<!DOCTYPE html>
<html>
<head>
  <!-- meta tags -->
  <meta name="author" content="Xiaoyu A. Gao">
  <meta name="description" content="Personal Portfolio Site For Aki Gao">
  <meta name="viewport" content="initial-scale=1">
  <meta charset="utf-8">

  <!-- css imports -->
  <link href="/static/css/grid12.css" rel="stylesheet" type="text/css"/>
  <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>

  <!-- javascript imports -->
  <script src="/static/js/angular.js" type="text/javascript"></script>
  <script src="/static/js/site.js" type="text/javascript"></script>
  <script src="/static/js/scripts.js" type="text/javascript"></script>
  <title>Aki Gao | Full Stack Developer</title>
</head>

<body ng-app="siteApp" ng-controller="navCtrl">
   <!-- mobile navigation container begins -->
  <div class = "mobile-navigation-container" ng-show="showMobileMenu">
    <div class="navigation">
    <!-- mobile navigation starts -->
      <div class="mobile-navigation-menu" ng-click="toggleMobileMenu()">
        <div class="mobile-navigation-btn-container">
          <div class="mobile-navigation-btn">
            <div class="bar" id="top_bar"></div>
            <div class="bar" id="middle_bar"></div>
            <div class="bar" id="bottom_bar"></div>
          </div>
        </div>
        <div class="navigation-menu-options">
            <div class="menu-option">
              <a href="#profile">Profile</a>
            </div>
            <div class="menu-option">
              <a href="#projects">Projects</a>
            </div>
            <div class="menu-option">
              <a href="#contact">Contact</a>
            </div>
        </div>
      </div>
    </div>
    <!-- mobile navigation ends -->
  </div>
  <!-- mobile navigation container ends -->
  
  <!--site wrapper begins -->
  <div class="site-wrapper" ng-class="{fixed:showMobileMenu}">
    <!-- introduction container begins-->
    <div class="intro-container">
    <!-- background image  for container begins -->
      <div class="intro-background">
        <!-- overlay and grayscale filter for background image begins -->
        <div class="overlay">
          <!-- main navigation container begins-->
          <div class="main-navigation-container">
            <!-- navigation begins -->
            <div class="navigation">
              <!-- main navigation bar begins -->
              <div class="main-navigation">
                <div class="navigation-option">
                  <a href="#profile">Profile</a>
                </div>
                <div class="navigation-option">
                  <a href="#projects">Projects</a>
                </div>
                <div class="navigation-option">
                  <a href="#contact">Contact</a>
                </div>
              </div>
              <!-- main navigation bar ends -->
            
              <!-- mobile navigation starts -->
              <div class="mobile-navigation">
                <div class="mobile-navigation-btn-container">
                  <div class="mobile-navigation-btn" ng-click="toggleMobileMenu()">
                    <div class="bar" id="top_bar"></div>
                    <div class="bar" id="middle_bar"></div>
                    <div class="bar" id="bottom_bar"></div>
                  </div>
                </div>
              </div>
            <!-- mobile navigation ends -->
            </div>
            <!-- navigation ends -->
          </div>
          <!-- main navigation container ends -->

          <!--responsive grid for header begins-->
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!-- header container begins -->
            <div class="introduction-header-container">
              <!-- header begins -->
              <div class="introduction-header">
                <div class="introduction-header-main">AKI GAO</div>
                <div class="introduction-header-sub">Engineer & Full Stack Developer</div>
              </div>
              <!-- header ends -->
            </div>
            <!-- header container ends -->  
          </div>
          <!-- responsive grid for header ends -->
        </div>
          <!-- overlay and grayscale filter ends -->
      </div>  
        <!-- background image for container ends--> 
    </div>
    <!-- introduction container ends -->

    <!-- body container starts -->
    <div class="body-container ">
    <!-- profile container begins -->
      <section id="profile" class="section-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="section-title">Profile</div>
          <div class="section-body
          col-lg-6 col-lg-offset-3
          col-md-6 col-md-offset-3 
          col-sm-8 col-sm-offset-2
          col-xs-12">
            <strong>Hey there, I'm Aki.</strong> I'm an undergraduate student at the University of Virginia persuing a Computer Engineering and Electrical Engineering double major. I'm a full stack and freelance web developer focused on leveraging modern web technologies to create innovative and elegantly designed web applications and websites. Check out some of my projects below!  
        </div>
      </section>
    <!-- profile container ends -->
      <hr class="section-break
      col-lg-8 col-lg-offset-2">
      
      <!-- projects container starts --> 
      <section id="projects" class="section-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="section-title">Projects</div>
        <div class="section-body
          col-lg-6 col-lg-offset-3
          col-md-6 col-md-offset-3 
          col-sm-8 col-sm-offset-2
          col-xs-12">
              <strong>This section is currently under construction. In the meantime, heres one of my favorite xkcd comics!</strong>
              <img class="placeholder-img" src="../static/img/computer_problems_xkcd_comic.png">
          </div>
      </section>
      <!-- projects container ends -->
      <hr class="section-break
      col-lg-8 col-lg-offset-2">

      <!-- contact container begins -->
      <section id="contact" class="section-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="section-body
          col-lg-6 col-lg-offset-3
          col-md-6 col-md-offset-3 
          col-sm-8 col-sm-offset-2
          col-xs-12">
          Interested in contacting or hiring me for freelance?<br/>
          Contact me at <a href="mailto:xag9bb@virginia.edu">xag9bb@virginia.edu</a> so we can link up!
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- body container ends -->
  </div>
  <!-- site wrapper ends -->
</body>
</html>