<!DOCTYPE html>
<html>
<head>
  <!-- meta tags-->
  <meta name="google-site-verification" content="F_fHI8uQZyniSWXh4c7PjDTlCyT0Kv3Hhu07PBWn4qg" />
  <meta name="author" content="Xiaoyu A. Gao">
  <meta name="description" content="Personal Portfolio Site For Aki Gao">
  <meta name="Keywords" content="Aki Gao, Xiaoyu A. Gao, Xiaoyu Gao, Xiaoyu Akihiro Gao, Freelance, Full Stack, Developer">
  <meta name="viewport" content="initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta property=”og:image” content=”http://iknowht.ml/static/img/background.jpg”>

  <title>Aki Gao | Full Stack Developer | Freelance Developer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
